<h1>About the shopping list application</h1>
<p>The shopping list is a sample application, built to test a black box test framework against. It is also to do my shopping, because my iphone doesn't seem to be able to handle test, lists and simple stuff like that. It's probably fairly similar to a lot of other applications I want it to do that it currently doesn't, but for now, it's just a skin.</p>
